.bbg{
  background-color: #bc8de3;
  color: white;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited{
  background-color: #bc8de3 !important;
  border-color: #b58de3 !important;
}